[X] Node Scripts
[ ] Modules
	[X] Logger Module
	[ ] Login Auth Module
	[ ] Formbar OAuth Module
	[ ] Password Hashing Module
	[ ] SocketIO Server Module
	[ ] Instance/Room Manager Module
	[ ] User Data Module
[ ] Database Stuff
[ ] EJS Pages
[ ] EJS Routes
[ ] Middleware
	[X] isAuthenticated
	[ ] Session
	[ ] Socket Auth
[ ] API Routes
[X] File Upload
[ ] Utilities.js
[ ] Socket Handlers
[ ] README
